body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    /*************100% is equals to 16px. 90px / 16px = 5.625rem(recommended to use rem for scalability)***************/
    font-size: 5.625rem;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;

}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;

}

h3 {
    font-family: 'Montserrat', sans-serif;

}

/*************************************************/
.top-container {
   background-image: url(../images/mountain.jpg);
   background-size: cover;
   
}

.middle-container {
   
}

.bottom-container {
   
}

.circular {
    border-radius: 100%;
    height: 200px;
}

.codingCircular {
    height: 26%;
    width: 26%;
}

.videoEditimg {
    height: 26%;
    width: 26%;
}